@model EntityLayer.Concrete.Category
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Sertifika Görev 2/4</h2>
<br />
   <div style="display:flex;">
        <div style="width:200px; height:150px; background-color:seagreen;">
            <div>Kategori Sayısı</div>
            <div>@ViewBag.KategoriSayisi</div>
        </div>
        <div style="width:200px; height:150px; background-color:turquoise;">
            <div>Yazılım Kategorisi Başlık Sayısı</div>
            <div>@ViewBag.YazilimBaslikSayisi</div>
        </div>
        <div style="width:200px; height:150px; background-color:dodgerblue;">
            <div>Adında A Geçen Yazar Sayısı</div>
            <div>@ViewBag.AgecenYazarSayisi</div>
        </div>
        <div style="width:200px; height:150px; background-color:mediumpurple;">
            <div>En Çok Başlık Yazılan Kategori</div>
            <div>@ViewBag.TopKategori</div>
        </div>
        <div style="width:200px; height:150px; background-color:orange;">
            <div>Status Farkı</div>
            <div>@ViewBag.StatusFark</div>
        </div>
    </div>

