@model EntityLayer.Concrete.Header
@{
    ViewBag.Title = "AddHeader";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Başlık Ekleme Sayfası</h2>
<br />
@using (Html.BeginForm("AddHeader", "Header", FormMethod.Post))
{
<div class="form-group">
    @Html.Label("Başlık Adı")
    @Html.TextBoxFor(x => x.HeaderName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.HeaderName)
    <br />
    @Html.Label("Kategori")
    @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.valueCategory, new { @class = "form-control" })
    <br />
    @Html.Label("Yazar")
    @Html.DropDownListFor(x => x.WriterID, (List<SelectListItem>)ViewBag.valueWriter, new { @class = "form-control" })

    <br />
    <button class="btn btn-info">Başlık Oluştur</button>
</div>
}
